/** {
	padding: 0px !important;
	margin: 0px !important;
}*/

body {
	font-family: 'Source Sans Pro', 'sans-serif', serif;
}

/*--HEADER--*/
#header img {
	width: 100%;
	height: auto
	border-radius: 10px;
}

/*TOP SEARCHBAR STYLING*/
#searchbar-top {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#searchbar-top input{
    border: 0;
    box-shadow: none;
}

#searchbar-top button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#searchbar-top button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#searchbar-top .glyphicon-search{
    font-size: 21px;
}

/*BODY*/


/*FOOTER*/
#footer-content {
	background-color: #00A0E3;
	color: #fff;
}

#footer-bottom div {
	background-image: url('../logos_sources/footer_pattern_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	padding: 20px;
}

#footer-bottom span {
	padding: 6px;
	background-color: #A7CE39;
	border-radius: 10px;
}
