@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/** {
	padding: 0px !important;
	margin: 0px !important;
}*/

body {
	font-family: 'Source Sans Pro', 'sans-serif', serif;
}

/*--HEADER--*/
#header {
	padding: 15px;
}

#header img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#navButtons a {
  background-color: #A7CE39;
}

/*TOP SEARCHBAR STYLING*/
#searchbar-top {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#searchbar-top input{
    border: 0;
    box-shadow: none;
}

#searchbar-top button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#searchbar-top button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#searchbar-top .glyphicon-search{
    font-size: 21px;
}

/*BODY*/

#slider-top img {
	width: 100%;
}

/*--Coverage side menu styling--*/

/*@media(min-width: 768px) {
	.side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}*/

/*FOOTER*/

#footer-content {
	background-color: #00A0E3;
	color: #fff;
}

#footer-content a {
	text-decoration: none;
	color: #fff;
}

#footer-content h3 {
	color: #0072BB;
}

#footer-content ul {
	list-style: none;
}

#footer-content p {
  padding: 15px 0 0 40px;
}

#footer-bottom div {
	background-image: url('../logos_sources/footer_pattern_1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	padding: 20px;
}

#footer-bottom span {
	padding: 6px;
	background-color: #A7CE39;
	background: #A7CE39; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(#B4F309, #A7CE39, #54B500); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#B4F309, #A7CE39, #54B500); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#B4F309, #A7CE39, #54B500); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#B4F309, #A7CE39, #54B500); /* Standard syntax */
	border-radius: 10px;
}
